@font-face {
    font-family: 'digital-7';
    src: url('digital-7/digital-7.ttf');
}

.dial-indicator-container{
    position: relative;
    height: 150px;
    width: 150px;
    color: var(--tile-color);
}

.dial-indicator-container > * {
    position: absolute; /* Makes all children overlap */
    top: 0;
    left: 0;
}

.dial-indicator-dial{
    height: 100%;
    width: 100%;
}

.dial-indicator-needle {
    height: 100%;
    width: 100%;
    transition: transform 0.5;
}

.dial-indicator-reading{
    align-self: center;
    color: var(--font-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    /* Need a font that looks like a digital display */
    font-family: 'digital-7';
}

.dial-indicator-label{
    align-self: center;
    color: var(--font-color);
    text-align: center;
    /* border: 1px solid white; */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
}