.timings-display{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 15% 70% 15%;
    grid-auto-flow: row;
    grid-template-areas:
        "reset-button countdown start-button"
        "timesincegsudpate timesincegsudpate timesincegsudpate"
        "timesincerocketupdate timesincerocketupdate timesincerocketupdate";
}

.reset-button{
    grid-area: reset-button;
    cursor: pointer;
    font-weight: 750;
    background-color: var(--tile-raised-color);
    border: none;
    border-radius: 3px;
}

.reset-button:active{
    background-color: var(--tile-depressed-color);
}

.start-button{
    grid-area: start-button;
    cursor: pointer;
    font-weight: 750;
    background-color: var(--tile-raised-color);
    border: none;
    border-radius: 3px;
}

.start-button:active{
    background-color: var(--tile-depressed-color);
}

.countdown-display{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: countdown;
    color: var(--font-color);
    font-size: 2em;
}

.time-since-gs-update-display{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: timesincegsudpate;
    color: var(--font-color);
    font-size: 1em;
}

.time-since-rocket-update-display{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: timesincerocketupdate;
    color: var(--font-color);
    font-size: 1em;
}