.diag-messages-display {
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "title"
                         "messages";
}

.diag-title-bar {
    grid-area: "title";
    color: white;
    font-weight: 600;
}

.diag-messages-container {
    background-color: #101010;
    grid-area: "messages";
    border-radius: 10px;
}