#title-bar{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: justify;
}

#datetime-display{
    text-align: left;
    font-size: 1em;
    color: black;
}

#title-display{
    text-align: center;
    font-size: 1.5em;
    color: #1b36ac;
}

#status-display{
    text-align: right;
    float: right;
    color: red;
    border: 2px solid;
    border-color: red;
    border-radius: 5px;
    padding: 2px 5px;

}